.header {
    display: grid;
    grid: 1fr / auto auto;
    width: 100%;
    height: 8rem;
    padding: 1rem 2.2rem 1rem 2.2rem;
    box-sizing: border-box;
    position: fixed;
    border-bottom: 15px solid #faf3dd;
    background-color: #98473e;
}

.header .logo {
    font-size: 25px;
    align-self: center;
    justify-self: start;
    font-size: 3rem;
    font-weight: 800;
    color: #faf3dd;
    color: #f29940;
    float: left;
}

.header .navProfile {
    display: grid;
    grid: 1fr / auto auto;
    gap: 12px;
    align-items: center;
    justify-self: end;
    float: right;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
    color: #faf3dd;
}

.header .navProfile .love {
    font-size: 18px;
    color: #f29940;
    text-align: end;
}

.header .navProfile > img {
    width: 62px;
    border: 4px solid #faf3dd;
    border-radius: 50%;
}

.header .navProfile p {
    margin: 0;
}
