.commentForm {
    margin-top: 1rem;
    display: grid;
    grid: auto/ 98%;
    place-content: center;
}

.commentForm label {
    width: 100%;
    place-self: center;
}

.commentForm span {
    display: block;
    margin-bottom: 0.4rem;
}

.commentForm textarea {
    margin: auto;
    resize: none;
}

.commentForm .button {
    padding: clamp(0.5rem, 0.6vw, 0.5rem);
    width: clamp(3.2rem, 16vw, 7rem);
}

.noCommentForm {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1.3rem;
    color: var(--alt-highlight-color);
    padding-top: 0.5rem;
}

@media (max-width: 600px) {
    .noCommentForm {
        font-size: 1rem;
        padding-top: 1rem;
    }
}
