.DMsInnerOuterContainer {
    display: grid;
}

.DMsContainer {
    z-index: 100;
    margin: auto;
    display: grid;
    grid: auto 12rem / auto;
    gap: 0.8rem;
    margin-top: 3.8rem;
    margin-bottom: 2.8rem;
    width: clamp(25rem, 68vw, 70rem);
    padding: 1.8rem 1.8rem 2rem 1.8rem;
    height: 65vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26;
    border-radius: 20px 20px 20px 0px;
    border: 6px solid var(--base-light-color);
    background-color: var(--posts-color);
}

.DMsInnerContainer {
    display: grid;
    grid: auto / 8rem auto;
    gap: 2rem;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 98%;
    padding: 0 3rem 0 1.5rem;
    border-radius: 20px 0 0 20px;
    border: 6px solid var(--alt-item-color);
    background-color: var(--profile-bg-color);
    overflow-y: auto;
}

.DMConvoContainer {
    padding-top: 1.4rem;
}

.DMConvoContainer::after {
    content: '';
    height: 0.2rem;
}

.DMAvatar {
    width: 2.5rem;
    height: 2.5rem;
    align-self: start;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    border: 3px solid var(--base-light-color);
    transition: border 200ms;
    cursor: pointer;
}

.DMMessage {
    display: grid;
    grid: auto / 3.6rem auto;
    padding: 0.8rem 1rem 0.9rem 1rem;
    margin-bottom: 1.4rem;
    border-radius: 10px;
    gap: 2px;
    background-color: var(--item-bg-color);
}

.DMMessage .DMUsername {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--alt-highlight-color);
}

.DMContent span {
    display: flex;
    justify-content: space-between;
}

.DMContent time {
    align-self: flex-start;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--main-bg-color);
}

.DMMessage .DMText {
    font-size: 1rem;
}

.receivedMessage {
    align-items: center;
    max-width: 50%;
    background-color: var(--posts-color);
}

.sentMessage {
    align-items: center;
    margin-left: 42%;
}

.DMUserColumn {
    display: grid;
    border-right: 6px solid var(--alt-item-color);
}

.DMUserColumn label {
    font-style: italic;
    position: absolute;
    width: 6rem;
    bottom: 36%;
    align-self: end;
}

.DMUserColumn input {
    border: 3px solid var(--main-bg-color);
    height: 2.4rem;
    margin-top: 1px;
}

.DMUserColumn input:focus {
    border: 3px solid var(--alt-highlight-color);
    height: 2.4rem;
}

.DMuserList {
    display: grid;
    position: absolute;
    gap: 8px;
    font-style: italic;
    padding-top: 1.8rem;
    color: var(--alt-highlight-color);
}

.DMuserList .DMuserContent {
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    background-color: var(--posts-color);
    transition: all 150ms;
}

.DMuserList .DMuserContent.active {
    color: var(--base-light-color);
    background-color: var(--alt-item-color);
    transition: all 150ms;
}

.DMuserList div:hover {
    color: var(--base-light-color);
    transition: all 200ms;
}

.dmFormContainer {
    display: grid;
    margin: auto;
    width: 70%;
    border-radius: 16px 16px 16px 0;
    padding: 1.4rem 0.6rem 1.6rem 0.6rem;
    border: 6px solid var(--alt-item-color);
    background-color: var(--profile-bg-color);
}

.dmForm {
    width: 90%;
    place-self: center;
}

.dmForm input {
    height: 2.5rem;
}

.dmForm button {
    width: 6.5rem;
    padding: 8px 4px 8px 4px;
    margin-right: 10px;
    font-size: 0.9rem;
    background-color: var(--profile-bg-color);
}

.noDMs {
    font-style: italic;
    font-size: 2.2rem;
    padding: 1rem 1.8rem 1rem 1.8rem;
    border-radius: 20px;
    background-color: var(--posts-color);
}
