.DMsInnerOuterContainer {
    display: grid;
}

.DMsContainer {
    z-index: 100;
    margin: auto;
    display: grid;
    grid: auto 12rem / auto;
    gap: 0.8rem;
    margin-top: 3.8rem;
    margin-bottom: 2.8rem;
    width: clamp(25rem, 68vw, 70rem);
    padding: 1.8rem 1.8rem 2rem 1.8rem;
    height: 65vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26;
    border-radius: 20px 20px 20px 0px;
    border: 6px solid var(--base-light-color);
    background-color: var(--posts-color);
}

.DMsInnerContainer {
    display: grid;
    grid: auto / 8rem auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem 0 1.5rem;
    border-radius: 20px 0 0 20px;
    border: 6px solid var(--alt-item-color);
    background-color: var(--profile-bg-color);
    overflow-y: auto;
}

.DMConvoContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0.5rem 0.5rem 1.5rem;
    border-left: 6px solid var(--alt-item-color);
}

.DMConvoContainer::after {
    content: '';
    height: 0.2rem;
}

.DMAvatar {
    width: 2.5rem;
    height: 2.5rem;
    align-self: start;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    border: 3px solid var(--base-light-color);
    transition: border 200ms;
    cursor: pointer;
}

.DMMessage {
    display: grid;
    grid: auto / 3.6rem auto;
    padding: 0.8rem 1rem 0.9rem 1rem;
    margin-bottom: 1.4rem;
    border-radius: 10px;
    gap: 2px;
    background-color: var(--item-bg-color);
}

.DMMessage .DMUsername {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--alt-highlight-color);
}

.DMContent span {
    display: flex;
    justify-content: space-between;
}

.DMContent time {
    align-self: flex-start;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--main-bg-color);
}

.DMMessage .DMText {
    font-size: 1rem;
}

.receivedMessage {
    align-items: center;
    max-width: 13.5rem;
    background-color: var(--posts-color);
}

.sentMessage {
    align-self: flex-end;
    width: 14.5rem;
}

.DMUserOuterColumn {
    position: sticky;
    top: 0;
    max-height: 46vh;
}

.DMUserColumn {
    display: grid;
    grid: 1fr auto / auto;
    /* justify-content: space-between; */
    height: 100%;
    align-self: start;
    /* position: sticky; */
    top: 0;
    overflow-y: auto;
}

.DMUserColumn input {
    border: 3px solid var(--main-bg-color);
    height: 2.4rem;
    margin-top: 2px;
}

.DMUserColumn input:focus {
    border: 3px solid var(--alt-highlight-color);
    height: 2.4rem;
}

.DMuserList {
    display: grid;
    align-self: start;
    max-height: clamp(4rem, 24vh, 30vh);
    gap: 8px;
    font-style: italic;
    padding-top: 1.2rem;
    color: var(--alt-highlight-color);
    overflow-y: auto;
}

.DMuserList .DMuserContent {
    cursor: pointer;
    width: 4.8rem;
    text-align: center;
    align-self: center;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    background-color: var(--posts-color);
    transition: all 150ms;
}

.DMuserList .DMuserContent.active {
    color: var(--base-light-color);
    background-color: var(--alt-item-color);
    transition: all 150ms;
}

.DMuserList div:hover {
    color: var(--base-light-color);
    transition: all 200ms;
}

.dmFormContainer {
    display: grid;
    margin: auto;
    width: 70%;
    border-radius: 16px 16px 16px 0;
    padding: 1.4rem 0.6rem 1.6rem 0.6rem;
    border: 6px solid var(--alt-item-color);
    background-color: var(--profile-bg-color);
}

.dmForm {
    width: 90%;
    place-self: center;
}

.dmForm input {
    height: 2.5rem;
}

.dmForm button {
    width: 6.5rem;
    padding: 8px 4px 8px 4px;
    margin-right: 10px;
    font-size: 0.9rem;
    background-color: var(--profile-bg-color);
}

.searchUserForm {
    width: 6rem;
    font-style: italic;
    align-self: end;
}

.noDMs {
    font-style: italic;
    font-size: 1.8rem;
    padding: 1rem 1.8rem 1rem 1.8rem;
    border-radius: 20px;
    background-color: var(--posts-color);
}

@media (max-width: 700px) {
    .DMsContainer {
        grid: 50vh auto / auto;
        gap: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 2.8rem;
        width: clamp(14rem, 70vw, 75rem);
        padding: 1.2rem 1rem 1.2rem 1rem;
        height: auto;
        font-size: 0.9rem;
        border: 5px solid var(--base-light-color);
    }

    .DMsInnerContainer {
        grid: 6rem auto / auto;
        gap: 0.2rem;
        width: 100%;
        padding: 10px 0 0 0;
        overflow-y: unset;
    }

    .DMConvoContainer {
        padding-top: 0.5rem;
        margin: 0;
        padding: 0 10px 0 10px;
        border-left: none;
        /* max-height: 10rem; */
        overflow-y: auto;
        overflow-x: hidden;
    }

    .DMMessage {
        display: grid;
        grid: auto / 2.8rem auto;
        padding: 0.6rem 0.8rem 0.6rem 0.8rem;
        border-radius: 10px;
        gap: 4px;
        background-color: var(--item-bg-color);
    }

    .DMMessage time {
        font-size: 0.58rem;
    }

    .DMMessage .DMText {
        font-size: 0.76rem;
    }

    .DMMessage .DMUsername {
        font-size: 0.9rem;
    }

    .receivedMessage {
        margin: 0;
        max-width: unset;
        margin-bottom: 0.5rem;
        background-color: var(--posts-color);
    }

    .sentMessage {
        margin: 0;
        width: stretch;
        align-self: flex-start;
        margin-bottom: 0.5rem;
        align-items: center;
    }

    .DMUserColumn {
        display: grid;
        height: auto;
        grid: 2.8rem 2.8rem / auto;
        font-size: 0.7rem;
        overflow-y: hidden;
        gap: 0;
    }

    .DMUserColumn input {
        padding: 6px;
        width: 4.2rem;
        margin-bottom: 8px;
        height: 1.6rem;
        font-size: 0.8rem;
    }

    .DMUserColumn input:focus {
        height: 1.6rem;
        font-size: 0.8rem;
    }

    .DMuserList {
        display: flex;
        padding: 0px 10px 6px 10px;
        gap: 10px;
    }

    .DMuserList::-webkit-scrollbar {
        height: 8px;
    }

    .DMuserList .DMuserContent {
        cursor: pointer;
        width: 3.8rem;
        border-radius: 8px;
        padding: 4px 8px 4px 8px;
    }

    .DMAvatar {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }

    .dmFormContainer {
        padding: 10px 8px 12px 8px;
        font-size: 0.8rem;
        justify-self: center;
        margin: 2px;
        width: 80%;
        height: auto;
    }

    .dmForm {
        align-self: start;
    }

    .dmForm input {
        height: 2rem;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }

    .dmForm button {
        font-size: 0.6rem;
        width: auto;
        padding: 6px 15px 6px 15px;
        border: 3px solid var(--base-light-color);
    }

    .dmForm button:hover {
        border: 3px solid var(--alt-highlight-color);
    }

    .searchUserForm {
        width: 10rem;
        justify-self: center;
        padding-top: 0.4rem;
        font-style: italic;
    }

    .searchUserForm input {
        height: 1.8rem;
        margin-left: 12px;
    }

    .noDMs {
        font-style: italic;
        font-size: 0.75rem;
        padding: 0.9rem 0.7rem 0.9rem 0.7rem;
        margin-bottom: 0.8rem;
        border-radius: 20px;
        background-color: var(--posts-color);
    }
}
