.header {
    display: grid;
    position: sticky;
    z-index: 50;
    top: 0;
    grid: 1fr / auto auto;
    width: 100%;
    height: 8rem;
    padding: 1rem 2.2rem 1rem 2.2rem;
    box-sizing: border-box;
    border-bottom: 15px solid var(--base-light-color);
    background-color: var(--highlight-color);
}

.header .logo {
    font-size: 25px;
    align-self: center;
    justify-self: start;
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
    color: var(--base-light-color);
    color: var(--alt-highlight-color);
}

.header .navProfile {
    display: grid;
    grid: auto / auto 5rem auto;
    z-index: 85;
    gap: 8px;
    align-items: center;
    justify-self: end;
    float: right;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
    color: var(--base-light-color);
    /* transition: all 500ms; */
}

.header .navProfile:hover {
    cursor: pointer;
}

.header .navProfile .bi-caret-down-fill {
    transition: color 500ms ease-in-out;
}

.header .navProfile:hover .bi-caret-down-fill {
    color: var(--alt-highlight-color);
    transition: color 500ms ease-in-out;
}

.header .navProfile:hover .avatar {
    border: 4px solid var(--alt-highlight-color);
    transform: translatey(-1px);
    transition: all 500ms ease-in-out;
}

.header .navProfile i {
    margin-right: -4px;
}

.header .unloggedHead {
    display: grid;
    width: 20rem;
    grid: 1fr / auto auto;
    align-items: center;
    justify-self: end;
    justify-items: end;
}

@media (max-width: 600px) {
    .header .unloggedHead {
        width: 6.2rem;
        grid: auto auto / 1fr;
        justify-items: start;
    }
}

.header .navProfile .love {
    display: grid;
    grid: 1fr / auto auto;
    font-size: 18px;
    color: var(--alt-highlight-color);
    align-items: start;
    justify-content: end;
}

.header .navProfile .avatar {
    width: 4.2rem;
    height: 4.2rem;
    justify-self: center;
    background-size: cover;
    background-position: center center;
    border: 4px solid var(--base-light-color);
    border-radius: 50%;
    transition: border-color 500ms ease-in-out;
}
/* .header .navProfile .avatar:hover {
    border: 4px solid var(--alt-highlight-color);
    transition: border 500ms;
} */

.header .navProfile p {
    margin: 0;
}
