.homeContainer {
    display: grid;
    place-content: center;
    gap: 2rem;
    margin-top: 3.8rem;
    grid: auto / auto 18rem;
}

.homeContainer.unloggedBody {
    margin-top: 2.4rem;
}

.homeContainer h4 {
    display: none;
}

.homeSidebarContainer {
    /* position: sticky; */
    top: 11.6rem;
}

.homeOuterSidebarContainer {
    position: sticky;
    top: 160px;
    /* padding-bottom: 1rem; */
    height: stretch;
    overflow: unset;
}

@media (max-width: 1000px) {
    .homeContainer {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .homeOuterSidebarContainer {
        display: flex;
        align-items: flex-end;
        /* top: 85px; */
        /* position: fixed; */
        /* padding-bottom: 1rem; */
        position: unset;
        height: auto;
        overflow: unset;
        background-color: var(--main-bg-color);
    }

    .homeSidebarContainer {
        align-content: center;
    }

    .unloggedBody {
        margin-top: 3.5vh;
    }
}

@media (max-width: 600px) {
    .homeContainer {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .homeOuterSidebarContainer {
        display: flex;
        align-items: flex-end;
        /* top: 55px; */
        /* position: fixed; */
        /* padding-bottom: 0.2rem; */
        /* height: 9.5rem; */
        overflow: unset;
        background-color: var(--main-bg-color);
    }

    .homeSidebarContainer {
        align-content: center;
    }

    .homeContainer.unloggedBody {
        margin-top: 1.4rem;
    }
}
