.sortMenuContainer {
    position: fixed;
    display: grid;
    width: 100%;
    z-index: 25;
    top: 8rem;
}

.sortMenu.dropMenu {
    place-self: center;
    width: 9rem;
    padding: 0.8rem;
    font-weight: 600;
    color: var(--base-light-color);
    margin-right: clamp(15rem, 50%, 50rem);
    border: 5px solid var(--base-light-color);
    border-top: none;
    border-radius: 0 0 15px 15px;
    background-color: var(--profile-bg-color);
}

.sortMenuReleaseContainer {
    position: fixed;
    display: grid;
    width: 100%;
    z-index: 26;
    top: 8rem;
}

.sortMenuRelease {
    place-self: center;
    width: 9rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    font-weight: 600;
    color: var(--base-light-color);
    margin-right: clamp(15rem, 50%, 50rem);
    border: 5px solid var(--base-light-color);
    border-top: none;
    border-radius: 0 0 15px 15px;
    background-color: var(--profile-bg-color);
}
.sortMenuRelease span {
    margin-left: 8px;
}

.sortMenu a {
    color: var(--base-light-color);
    vertical-align: bottom;
    text-decoration: none;
    transition: color 100ms ease-in-out;
}

.sortMenu i {
    padding-right: 6px;
}

.sortMenuLinkTitle {
    font-style: italic;
    font-weight: 800;
    color: var(--main-bg-color);
}

.sortMenuLink {
    text-decoration: none;
    cursor: pointer;
}

.sortMenuLink:hover {
    color: var(--alt-highlight-color);
}

.sortMenuLink:nth-child(n + 2) {
    padding-top: 10px;
}
