.postInfo {
    display: grid;
    grid: 1fr / 1.45rem auto;
    align-items: end;
    justify-content: end;
    margin-right: 1.1rem;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.02em;
    color: var(--highlight-color);
}

.postInfo i {
    font-size: 1.5rem;
}

.postInfo .postInfoText {
    margin-bottom: 0.08rem;
}

.postInfo .postInfoText span a {
    font-style: italic;
    text-decoration: none;
    color: var(--alt-item-color);
    transition: color 100ms ease-in-out;
}

.postInfo .postInfoText span a:hover {
    font-style: italic;
    text-decoration: none;
    color: var(--alt-highlight-color);
    transition: color 150ms ease-in-out;
}

.postListContainer {
    margin-top: 0px;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-bottom: 3rem;
}

.postContainer {
    z-index: 100;
    margin: auto;
    display: grid;
    grid: 2rem 1fr 2rem / 1fr;
    margin-bottom: 2.8rem;
    width: clamp(20rem, 60vw, 50rem);
    height: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26;
    border-radius: 16px 16px 16px 0px;
    background-color: var(--base-light-color);
}

.postContent {
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    padding: 1.5rem 2rem 3rem 2rem;
    width: 98%;
    height: 96%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--posts-color);
}

.postContent h1 {
    font-size: 1.6rem;
    max-width: 26rem;
    margin: 0;
}

.postContent p {
    max-width: 28rem;
}

.postContainer .accountSuspended {
    font-style: italic;
    color: var(--posts-color);
}

.postFooter {
    display: grid;
    grid: 1fr / auto auto;
    width: 95%;
    margin: 0.15rem auto auto auto;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: var(--highlight-color);
}

.postFooter i {
    align-self: center;
    font-size: 1rem;
}

.postFooter span {
    align-self: center;
    font-size: 1.05rem;
}

.postFooterContentContainer {
    text-decoration: none;
    color: var(--highlight-color);
    transition: color 150ms;
}

.postFooterContentContainer:hover {
    color: var(--alt-highlight-color);
    transition: color 200ms;
}

.postFooterComments {
    color: var(--highlight-color);
}

.postFooterComments i {
    margin-right: 3px;
}

.postFooterLikes {
    display: grid;
    justify-items: end;
    grid: auto / auto;
    color: var(--highlight-color);
}

.postLikesContainer {
    display: grid;
    align-content: end;
    gap: 2.5px;
    grid: auto / auto auto;
    cursor: pointer;
}

.postLikesContainer.activeLike {
    color: var(--alt-highlight-color);
}

.postLikesContainer:hover span,
.postLikesContainer:hover i {
    color: var(--alt-highlight-color);
    transition: color 200ms cubic-bezier(0.2, 0.5, 0.9, 1.5);
}

.postLikesContainer:active span,
.postLikesContainer:active i {
    color: var(--main-bg-color);
    transform: translateY(0.5px);
    transition: color 200ms cubic-bezier(0.2, 0.5, 0.9, 1.5);
}

.postContentLink {
    color: var(--base-light-color);
    text-decoration: none;
}

/* No results post */

/* .postContainer.noResults {
    max-height: 50vh;
} */

.postContent.noResults {
    display: grid;
    grid: auro auto auto / auto;
    justify-items: start;
    font-size: 1.3rem;
    font-style: italic;
    gap: 20px;
    padding: 4vh;
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;
    /* height: 80vw; */
}

.postInfo.noResults span,
.postInfo.noResults i {
    font-size: 1rem;
    padding-right: 0.2rem;
}

.postContent.noResults .button {
    float: left;
}

.catGif {
    width: 60vw;
    height: 40vw;
    max-width: 30rem;
    max-height: 18rem;
    border-radius: 16px 16px 16px 0;
    border: 6px solid var(--base-light-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 1000px) {
    /* .postListContainer {
        margin-top: 4.8rem;
    } */

    .userPageContainer .postListContainer {
        align-self: center;
        margin-top: 0;
    }

    .postContainer {
        grid: 1.9rem 1fr 2rem / 1fr;
        margin-bottom: 1.4rem;
        width: 90vw;
    }
}

@media (max-width: 600px) {
    .postFooter {
        display: grid;
        grid: 1fr / auto auto;
        width: 90%;
        margin: 0.26rem auto auto auto;
        font-size: 1rem;
        font-weight: 800;
        font-family: 'Roboto', sans-serif;
        color: var(--highlight-color);
    }

    .postInfo {
        font-size: clamp(0.8rem, 0.85rem, 1.5rem);
        padding-bottom: 1px;
    }

    .userPageContainer .postListContainer {
        align-self: center;
    }

    .postListContainer {
        margin-top: 0;
    }

    .postContent {
        padding: 1.5rem 1.5rem 2.6rem 1.5rem;
        height: 98%;
    }

    .postContainer {
        grid: 1.9rem 1fr 2rem / 1fr;
        margin-bottom: 1.4rem;
        width: 85vw;
    }

    .postLikesContainer:hover span,
    .postLikesContainer:hover i {
        color: unset;
        /* transition: color 200ms cubic-bezier(0.2, 0.5, 0.9, 1.5); */
    }
}
