.miniPostListOuterContainer {
    display: grid;
    grid: 1.88rem auto / auto;
    align-content: center;
    z-index: 2;
    margin: auto;
    /* height: 24.1rem; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26;
    padding: 1rem 0.35rem 2.35rem 0.35rem;
    border-radius: 16px 16px 16px 0px;
    background-color: var(--posts-color);
}

@media (max-width: 1000px) {
    .miniPostListOuterContainer {
        display: none;
    }
}

.miniPostListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem 0 1rem 0;
    background-color: var(--profile-bg-color);
}

.miniPostContainer {
    display: grid;
    background-color: var(--profile-bg-color);
}

.miniPostContainer .miniPostContent {
    display: grid;
    grid: 4.6rem / 1fr 1.4fr;
    padding: 0.3rem 1rem 0.3rem 1rem;
    align-items: center;
    width: 15.2rem;
    background-color: var(--profile-bg-color);
    will-change: transform;
}

.miniPostContainer .miniPostContent h1 {
    margin: 0;
    text-align: end;
    font-size: 1rem;
}

.miniPostContainer .miniPostContent:hover h1 {
    transform: translateX(-2px);
    transition: transform 250ms;
}

.miniPostListOuterContainer .topRatedTitle {
    margin: 0;
    padding-left: 8px;
    color: var(--alt-highlight-color);
    font-size: 0.95rem;
    font-style: italic;
}

.miniPostContainer .miniPostData {
    display: grid;
    justify-items: end;
}

.miniPostContainer .miniPostUsername {
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    color: var(--alt-highlight-color);
}

.miniPostContainer .linkPrevImg {
    width: 4.5rem;
    height: 3.3rem;
    border: 4px solid var(--base-light-color);
    border-radius: 15px 15px 15px 0px;
    background-color: var(--highlight-color);
    filter: grayscale(30%);
    transition: all 300ms;
}

.miniPostContainer .miniPostContent:hover .linkPrevImg {
    transform: translateX(1px);
    border: 4px solid var(--alt-highlight-color);
    filter: grayscale(0);
    transition: all 350ms;
}

.miniPostContainer .miniPostFooter {
    color: var(--main-bg-color);
    font-weight: 600;
    font-size: 0.9rem;
}

.miniPostContainer .miniPostFooter span {
    padding: 0 0.2rem 0 0.2rem;
}
