.postInfo {
    display: grid;
    grid: 1fr / 1.45rem auto;
    align-items: end;
    justify-content: end;
    margin-right: 1.1rem;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.02em;
    color: var(--highlight-color);
}

.postInfo i {
    font-size: 1.5rem;
}

.postInfo .postInfoText {
    margin-bottom: 0.08rem;
}

.postInfo .postInfoText span a {
    font-style: italic;
    text-decoration: none;
    color: var(--posts-color);
    transition: color 100ms ease-in-out;
}

.postInfo .postInfoText span a:hover {
    font-style: italic;
    text-decoration: none;
    color: var(--main-bg-color);
    transition: color 150ms ease-in-out;
}

.postListContainer {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-bottom: 6rem;
}

.postContainer {
    z-index: 100;
    margin: auto;
    display: grid;
    grid: 2rem 1fr 2rem / 1fr;
    margin-top: 3.8rem;
    width: clamp(20rem, 60vw, 50rem);
    height: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.26;
    border-radius: 16px 16px 16px 0px;
    background-color: var(--base-light-color);
}

.postContent {
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    padding: 1.5rem 2rem 3rem 2rem;
    width: 98%;
    height: 96%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--posts-color);
}

.postContent h1 {
    font-size: 1.6rem;
    margin: 0;
}

.postFooter {
    display: grid;
    grid: 1fr / auto auto;
    width: 95%;
    margin: 0.15rem auto auto auto;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: var(--highlight-color);
}

.postFooter i {
    font-size: 1rem;
}

.postFooterComments {
    display: grid;
    grid: 1fr / 1.15rem auto;
    color: var(--highlight-color);
}

.postFooterLikes {
    display: grid;
    align-self: start;
    justify-items: end;
    grid: 1fr / auto 1.2rem;
    color: var(--highlight-color);
}

@media (max-width: 1000px) {
    .postContainer {
        margin-top: 3.8rem;
        width: 88vw;
    }

    .postContent {
        padding: 1.5rem 1.5rem 3.5rem 1.5rem;
        width: 98%;
        height: 96%;
    }
}
