.userCardContainer {
    display: grid;
    position: sticky;
    top: 10.5rem;
    place-items: center;
    font-family: 'Fira Sans', sans-serif;
    padding: 0.75rem 0.4rem 2.6rem 0.4rem;
    border-radius: 16px 16px 16px 0px;
    background-color: var(--posts-color);
}

.userCardContainer span {
    justify-self: start;
    display: grid;
    gap: 3px;
    grid: auto / auto auto;
    align-items: baseline;
    margin: 0.1rem 0 0.65rem 0.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.userCardContent {
    display: grid;
    gap: 0.5rem;
    width: 98%;
    box-sizing: border-box;
    align-content: center;
    justify-items: center;
    padding: 1.6rem 2.2rem 1.5rem 2.2rem;
    background-color: var(--profile-bg-color);
}

.userCardAvatar {
    width: 8rem;
    height: 8rem;
    background-size: cover;
    background-position: center center;
    border: 8px solid var(--base-light-color);
    border-radius: 50%;
}

.userCardUsername {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
    color: var(--base-light-color);
}

.userCardSocial {
    display: flex;
    padding-top: 0.3rem;
    font-size: 1.4rem;
    gap: 10px;
}

.userCardSocial a {
    color: var(--base-light-color);
    transition: color 150ms;
}

.userCardSocial a:hover {
    color: var(--alt-highlight-color);
    transition: color 200ms;
}

.userCardLove {
    display: grid;
    grid: 1fr / 1fr auto;
    align-items: center;
    margin: 0;
    margin-bottom: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--alt-highlight-color);
    text-align: end;
}

.userCardBio {
    font-style: italic;
    font-weight: 600;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0 1rem 0.4rem 1rem;
}

.quote {
    font-size: 1.8rem;
}
