.activityListContainer {
    display: grid;
    gap: 20px;
    width: 18rem;
    position: fixed;
    z-index: 65;
    margin: 0;
    right: 0;
    overflow-y: auto;
    height: auto;
    max-height: 9.3rem;
    margin-right: 5rem;
    padding: 1.2rem 0.8rem 0.3rem 1.3rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    border: 6px solid var(--base-light-color);
    border-radius: 0 0 0 30px;
    border-top: none;
    will-change: transform;
    background-color: var(--profile-bg-color);
}

.activityListContainer.noActivity {
    padding-top: 1.5rem;
    font-style: italic;
    overflow-y: unset;
    height: 2.5rem;
}

.activityListContainer::-webkit-scrollbar {
    width: 8px;
}

.activityListContainer::-webkit-scrollbar-track {
    background: var(--base-light-color);
}

.activityListContainer::-webkit-scrollbar-thumb {
    background-color: var(--alt-highlight-color);
}

.activityContainer:last-child {
    padding-bottom: 1.2rem;
}

.activityContainer {
    display: grid;
    grid: auto / 1.1fr 3.8fr;
}

.activityContainer p {
    margin: 0;
}

.activityTextContainer {
    display: grid;
    grid: 1rem 0.9rem auto / auto;
    gap: 4px;
}

.activityDate {
    color: var(--base-light-color);
    font-family: Roboto;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 600;
}

.activityPostTitle {
    color: var(--alt-highlight-color);
}

.activityUser {
    font-style: italic;
    color: var(--alt-highlight-color);
}

.activityUserAvatar {
    width: 45px;
    height: 45px;
    border: 3px solid var(--base-light-color);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
