.activityListContainer.dropMenu {
    display: grid;
    gap: 20px;
    width: 18rem;
    position: fixed;
    z-index: 65;
    margin: 0;
    right: 5rem;
    max-height: 10rem;
    overflow-y: auto;
    padding: 1rem 0.8rem 0.5rem 0.8rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    border: 6px solid var(--base-light-color);
    border-radius: 0 0 0 30px;
    border-top: none;
    will-change: transform;
    background-color: var(--profile-bg-color);
}

.activityListContainer.dropMenu:after {
    content: '';
    display: block;
    height: 1px;
}

.activityListContainer.noActivity {
    padding-top: 1.5rem;
    font-style: italic;
    overflow-y: unset;
    height: 2.5rem;
}

.activityListContainer::-webkit-scrollbar {
    width: 8px;
}

.activityListContainer::-webkit-scrollbar-track {
    background: var(--base-light-color);
}

.activityListContainer::-webkit-scrollbar-thumb {
    background-color: var(--alt-highlight-color);
}

.activityContainer:last-child {
    bottom: 5rem;
}

.activityContainer {
    display: grid;
    grid: auto / 1.3fr 3.8fr;
    padding: 15px 12px 18px 12px;
    border-radius: 0 15px 15px 15px;
    background-color: var(--posts-color);
}

.activityContainer p {
    margin: 0;
}

.activityTextContainer {
    display: grid;
    grid: 1rem 0.9rem auto / auto;
    gap: 4px;
}

.activityDate {
    color: var(--main-bg-color);
    font-family: Roboto;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 600;
}

.activityPostTitle {
    font-weight: 800;
    color: var(--alt-highlight-color);
}

.activityUser {
    text-decoration: none;
    font-style: italic;
    color: var(--alt-highlight-color);
}

.activityUser span {
    font-size: 0.8rem;
    color: var(--main-bg-color);
}

.activityUserAvatar {
    width: 45px;
    height: 45px;
    border: 4px solid var(--base-light-color);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
