.searchContainer {
    /* position: sticky; */
    top: 11.8rem;
    margin-bottom: 1.4rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

.searchContainer input {
    margin: 0;
    height: 2.5rem;
}

.postContent.noResults {
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;
    height: 18.5rem;
}

.postInfo.noResults {
    display: grid;
    grid: auto / auto;
}
