.singleCommentContainer {
    display: grid;
    grid: auto / 3.8rem auto;
    margin: 0.5rem 0 1rem 0;
    list-style: none;
}

.singleCommentContent {
    display: grid;
    align-self: center;
}

.singleCommentUser {
    color: var(--alt-highlight-color);
    font-style: italic;
    margin-right: 0.3rem;
}

.singleCommentDate {
    color: var(--main-bg-color);
    align-self: center;
    font-weight: 600;
    font-style: italic;
    font-size: 0.7rem;
}

.singleCommentText {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    margin-top: 0.2rem;
}

.singleCommentAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 3px solid var(--base-light-color);
    background-size: cover;
    background-position: center center;
}

.replyLink {
    margin: 2px;
    color: var(--main-bg-color);
}

.replyLink span {
    font-style: italic;
    font-size: 0.75rem;
    transition: color 200ms;
    cursor: pointer;
}

.replyLink :hover {
    color: var(--alt-highlight-color);
    transition: color 200ms;
}

.nestedComment {
    border-left: 2px dotted var(--alt-item-color);
    padding-left: 1.1rem;
    margin-left: 1rem;
}

.noCommentsHere {
    display: flex;
    font-style: italic;
    font-size: 1.2rem;
    color: var(--main-bg-color);
    justify-content: center;
    padding-top: 0.4rem;
    margin-bottom: 0.8rem;
}
