.singlePostContainer {
    grid: auto auto auto / auto;
    padding-bottom: 2.5rem;
    margin-top: 3.8rem;
    margin-bottom: 6rem;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.singlePostContainer .postContent {
    height: 100%;
    padding-bottom: 1rem;
}

.singlePostContainer .postInfo {
    padding: 0.5rem 0.1rem 0.5rem 0.2rem;
}

.singlePostContainer hr {
    border: solid 1px var(--alt-item-color);
    margin: 1.5rem 0 1.2rem 0;
}

.singlePostContainer .postFooter {
    width: 100%;
    margin-top: 0.2rem;
}

.singlePostContainer .postFooterComments,
.singlePostContainer .postFooterLikes {
    color: var(--base-light-color);
}

.singlePostContainer .button {
    justify-self: end;
    margin-top: 0.8rem;
}

.postFooter .postCommentsContainerSingle {
    display: grid;
    grid: auto / 1.3rem auto;
}

.postFooter .postLikesContainerSingle {
    display: grid;
    grid: auto / auto auto;
    gap: 3.5px;
    transition: color 200ms;
}

.postFooter .postLikesContainerSingle:hover {
    cursor: pointer;
    color: var(--alt-highlight-color);
    transition: color 200ms;
}

.postFooter .postLikesContainerSingle:active {
    color: var(--main-bg-color);
    transform: translateY(0.5px);
    transition: color 200ms cubic-bezier(0.2, 0.5, 0.9, 1.5);
}

.commentListContainer {
    padding: 1rem;
    margin-bottom: 0.4rem;
}

.commentListContainer li {
    list-style: none;
}

.deletePostLink {
    padding-top: 0.6rem;
    padding-left: 0.3rem;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--highlight-color);
}

.deletePostLink span {
    cursor: pointer;
    transition: color 150ms;
}

.deletePostLink span:hover {
    transition: color 200ms;
    color: var(--alt-highlight-color);
}
