.singleCommentContainer {
    display: grid;
    grid: auto / 3.8rem auto;
    margin: 0.5rem 0 1rem 0;
    list-style: none;
}

.singleCommentContent {
    display: grid;
    align-self: center;
}

.singleCommentUser {
    font-style: italic;
    margin-right: 0.3rem;
}

.singleCommentUser a {
    text-decoration: none;
    color: var(--alt-highlight-color);
    transition: color 200ms;
}

.singleCommentUser a:hover {
    text-decoration: none;
    color: var(--base-light-color);
    transition: color 250ms;
}

.singleCommentUser .suspendedUser {
    color: var(--highlight-color);
}

.singleCommentDate {
    color: var(--main-bg-color);
    align-self: center;
    font-weight: 600;
    font-style: italic;
    font-size: 0.7rem;
}

.singleCommentText {
    font-size: clamp(0.8rem, 2.5vw, 0.9rem);
    font-weight: 400;
    margin: 0;
    margin-top: 0.2rem;
}

.singleCommentAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    border: 3px solid var(--base-light-color);
    transition: border 200ms;
    cursor: pointer;
}

.singleCommentAvatar:hover {
    border: 3px solid var(--alt-highlight-color);
    transition: border 250ms;
}

.singleCommentAvatar.suspendedAvatar {
    background-blend-mode: darken;
    background-color: var(--highlight-color);
    border: 3px solid var(--highlight-color);
}

.commentLinks {
    display: grid;
    grid: auto / 1fr 1fr;
    align-items: end;
    width: 6.5rem;
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
}

.replyLink {
    font-style: italic;
    font-size: 0.75rem;
    color: var(--main-bg-color);
    transition: color 200ms;
    cursor: pointer;
}

.replyLink:hover {
    color: var(--alt-highlight-color);
    transition: color 200ms;
}

.deleteCommentLink {
    font-style: italic;
    font-size: 0.75rem;
    color: var(--highlight-color);
    transition: color 200ms;
    cursor: pointer;
}

.deleteCommentLink:hover {
    color: var(--alt-highlight-color);
    transition: color 200ms;
}

.deletedComment {
    font-style: italic;
    font-weight: 600;
    color: var(--highlight-color);
}

.nestedComment {
    border-left: 2px dotted var(--alt-item-color);
    padding-left: 1.1rem;
    margin-left: 1rem;
}

.noCommentsHere {
    display: flex;
    font-style: italic;
    font-size: 1.2rem;
    color: var(--main-bg-color);
    justify-content: center;
    padding-top: 0.4rem;
    margin-bottom: 0.8rem;
}
