.userMenu.dropMenu {
    display: grid;
    grid: auto auto 3rem / auto;
    gap: 5px;
    position: fixed;
    right: 0.5rem;
    top: 7.05rem;
    min-width: 12rem;
    height: 8.5rem;
    z-index: 80;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.18rem;
    font-weight: 600;
    letter-spacing: 0.12em;
    padding: 18px 20px 25px 22px;
    border-radius: 0 0 0 30px;
    border: 6px solid var(--base-light-color);
    border-top: none;
    color: var(--base-light-color);
    background-color: var(--highlight-color);
}

.userMenu .userMenuLogOutLink {
    align-self: end;
    padding-top: 0.8rem;
    border-top: 2px solid var(--base-light-color);
}

.userMenu a {
    color: var(--base-light-color);
    vertical-align: bottom;
    text-decoration: none;
    transition: color 100ms ease-in-out;
}

.userMenu :last-child {
    width: 7rem;
}

.userMenu a:hover,
.userMenu :last-child:hover {
    cursor: pointer;
    margin: 0;
    color: var(--alt-highlight-color);
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

.userMenu span {
    padding-left: 0.4rem;
}

.userMenuProfileLink .active {
    color: var(--alt-highlight-color);
}

.userMenuSettingsLink .active {
    color: var(--alt-highlight-color);
}

/* .transitioned-enter {
    opacity: 0;
}

.transitioned-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.transitioned-exit {
    opacity: 1;
}

.transitioned-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
} */
