.userPageContainer {
    display: grid;
    place-content: center;
    align-items: start;
    margin-top: 2.8rem;
    gap: 2rem;
    grid: auto / auto 18rem;
}

@media (max-width: 1000px) {
    .userPageContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 1.4rem;
        gap: 1.5rem;
    }
}
