.linkPrevContainer {
    display: grid;
    grid: 9rem / 12rem auto;
    gap: 0.7rem;
    width: clamp(23rem, 68%, 70%);
    margin-top: 1.6rem;
    padding: 0.9rem 1rem 0.9rem 0.8rem;
    border: 4px solid #4e657f;
    border-radius: 2rem 2rem 2rem 0;
    text-decoration: none;
    background-color: var(--item-bg-color);
    transition: border 0.3s ease-in-out;
}

.linkPrevContainer:hover {
    border: 4px solid var(--highlight-color);
}

.linkPrevImg {
    background-size: cover;
    background-position: center center;
    border: 4px solid var(--base-light-color);
    border-radius: 1rem 1rem 1rem 0;
}

.linkInfoContainer {
    display: grid;
    grid: auto auto / auto;
    gap: 0.6rem;
    align-content: center;
    padding-right: 0.5rem;
    border-left: 2px solid #3c4b5d;
    align-items: start;
}

.linkInfoContainer p {
    margin: 0;
    margin-top: 0.1rem;
    margin-left: 0.7rem;
    font-style: italic;
}

.linkPrevTitle {
    color: var(--base-light-color);
    font-size: 0.94rem;
    font-weight: 800;
}

.linkPrevDesc {
    color: var(--main-bg-color);
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 0.84rem;
}

@media (max-width: 1000px) {
    .linkPrevContainer {
        grid: 9rem / 14rem auto;
        width: clamp(26rem, 68%, 72%);
    }
}

@media (max-width: 600px) {
    .linkPrevContainer {
        display: grid;
        grid: 11rem auto / auto;
        margin: auto;
        margin-top: 1.6rem;
        gap: 0.8rem;
        width: 70%;
    }

    .linkInfoContainer {
        display: grid;
        grid: auto auto auto / auto;
        border-left: none;
        align-items: center;
    }

    .linkInfoContainer p {
        width: 95%;
        margin: auto;
        padding-bottom: 0.2rem;
    }

    .linkPrevTitle {
        padding-bottom: 0.5rem;
    }
}
