.linkPrevContainer {
    display: grid;
    grid: 8.6rem / 11rem auto;
    gap: 0.9rem;
    width: clamp(23rem, 68%, 70%);
    /* margin: auto; */
    margin-top: 2rem;
    padding: 0.9rem 0.8rem 0.9rem 0.8rem;
    border: 0.35rem solid var(--base-light-color);
    border-radius: 2rem 2rem 2rem 0;
    background-color: var(--item-bg-color);
    /* filter: drop-shadow(4px 5px 3px #799eb957); */
}

.linkPrevImg {
    border: 3px solid var(--base-light-color);
    border-radius: 1rem 1rem 1rem 0;
    background-size: cover;
    background-position: center center;
}

.linkInfoContainer {
    display: grid;
    grid: auto auto / auto;
    gap: 0.6rem;
    border-left: 2px solid var(--base-light-color);
    align-items: center;
}

.linkInfoContainer p {
    margin: 0;
    margin-left: 0.9rem;
    font-style: italic;
    font-size: 0.85rem;
}

.linkPrevTitle {
    color: var(--base-light-color);
    font-weight: 800;
}

@media (max-width: 650px) {
    .linkPrevContainer {
        display: grid;
        grid: 9rem auto / auto;
        width: 100%;
        margin: auto;
        margin-top: 1.6rem;
        gap: 0.8rem;
        width: 70%;
    }

    .linkInfoContainer {
        display: grid;
        grid: auto auto auto / auto;
        border-left: none;
        align-items: center;
    }

    .linkInfoContainer p {
        width: 95%;
        margin: auto;
        padding-bottom: 0.2rem;
    }

    .linkPrevTitle {
        padding-bottom: 0.5rem;
    }
}
