.postInfo {
    display: grid;
    grid: 1fr / 1.45rem auto;
    align-items: end;
    justify-content: end;
    margin-right: 1.1rem;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.02em;
    color: #98473e;
}

.postInfo i {
    font-size: 1.5rem;
}

.postInfo .postInfoText {
    margin-bottom: 0.1rem;
}

.postInfo .postInfoText span {
    font-style: italic;
    color: #22262d;
}

.postContainer {
    margin: auto;
    display: grid;
    grid: 2rem 1fr 2rem / 1fr;
    margin-top: 5rem;
    width: clamp(20rem, 48rem, 80vw);
    height: 600px;
    border-radius: 12px 12px 12px 0px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #faf3dd;
}

.postContent {
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    padding: 1rem 1rem 2rem 1rem;
    width: 98%;
    height: 96%;
    font-family: 'Roboto', sans-serif;
    background-color: #22262d;
}

.postContent h1 {
    font-size: 1.6rem;
    margin: 0;
}

.postFooter {
    display: grid;
    grid: 1fr / auto auto;
    width: 95%;
    margin: 0.1rem auto auto auto;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: #98473e;
}

.postFooter i {
    font-size: 1rem;
}

.postFooterComments {
    display: grid;
    grid: 1fr / 1.15rem auto;
    color: #98473e;
}

.postFooterLikes {
    display: grid;
    align-self: start;
    justify-items: end;
    grid: 1fr / auto 1.2rem;
    color: #98473e;
}
