.userConfigPage {
    display: grid;
    align-content: center;
    height: 86vh;
}

.userConfigContainer {
    display: grid;
    margin: auto;
    width: clamp(28rem, 60vw, 35rem);
    place-items: center;
    font-family: 'Fira Sans', sans-serif;
    /* margin-top: 12vh; */
    padding: 1rem 0.3rem 1.8rem 0.3rem;
    border-radius: 16px 16px 16px 0px;
    background-color: var(--posts-color);
}

.userConfigContainer span {
    justify-self: start;
    display: grid;
    gap: 3px;
    grid: auto / auto auto;
    align-items: baseline;
    margin-left: 0.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.userConfigContainer form {
    display: grid;
    grid: auto / auto auto;
    height: 98%;
    width: 99%;
    align-content: center;
    gap: 0.8rem;
    box-sizing: border-box;
    padding: 2.8rem 2.5rem 3rem 2.2rem;
    background-color: var(--profile-bg-color);
}

.dataContainer {
    display: grid;
}

.userConfigContainer label {
    width: 14rem;
}

.userConfigContainer input {
    width: 14rem;
}

.userConfigContainer textarea {
    min-width: 20rem;
    max-width: 22rem;
    min-height: 5rem;
    height: 8rem;
    max-height: 15rem;
}

.userConfigContainer .avatarContainer {
    position: relative;
    padding-top: 1.5rem;
    justify-self: end;
    will-change: transform;
}

.userConfigContainer .avatarContainer i {
    position: absolute;
    top: 6.2rem;
    float: right;
    padding: 0.3rem;
    border-radius: 25%;
    font-size: 1.2rem;
    background-color: var(--posts-color);
    border: 4px solid var(--base-light-color);
}

.userConfigContainer .avatar {
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: 6px solid var(--base-light-color);
    transition: all 150ms ease-in-out;
}

.userConfigContainer .avatar:hover {
    border: 6px solid var(--alt-highlight-color);
    transform: translatey(-1px);
    transition: all 250ms ease-in-out;
}
