.bounceAnim {
    animation-name: bounceIn;
    animation-duration: 0.4s;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    60% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.dropMenu {
    animation: rotateMenu 500ms cubic-bezier(0.58, 0.1, 0.08, 0.79) forwards;
    transform-origin: top center;
}

@keyframes fadeAway {
    0% {
        opacity: 100;
    }
    60% {
        opacity: 50;
    }
    100% {
        opacity: 0;
    }
}

.spinner-2 {
    width: 50px;
    height: 50px;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(
        var(--highlight-color) 25%,
        var(--alt-highlight-color) 0 50%,
        var(--alt-item-color) 0 75%,
        var(--profile-bg-color) 0
    );
    animation: s2 2s infinite linear;
}
.spinner-2::before,
.spinner-2::after {
    content: '';
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}
.spinner-2::after {
    margin: 25%;
    animation-duration: 3s;
}

@keyframes s2 {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.growDown {
    animation: growDown 500ms cubic-bezier(0.58, 0.1, 0.08, 0.79) forwards;
    transform-origin: top center;
}

.shake-little {
    display: inherit;
    transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-little:hover,
.shake-trigger:hover .shake-little {
    animation-play-state: running;
}

@keyframes shake-little {
    2% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    4% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    6% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    8% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    10% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    12% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    14% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    16% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    18% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    20% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    22% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    24% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    26% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    28% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    30% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    32% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    34% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    36% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    38% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    40% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    42% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    44% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    46% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    48% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    50% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    52% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    54% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    56% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    58% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    60% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    62% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    64% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    66% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    68% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    70% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    72% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    74% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    76% {
        transform: translate(0px, 1px) rotate(0.5deg);
    }
    78% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    80% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    82% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    84% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    86% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    88% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    90% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    92% {
        transform: translate(1px, 1px) rotate(0.5deg);
    }
    94% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    96% {
        transform: translate(1px, 0px) rotate(0.5deg);
    }
    98% {
        transform: translate(0px, 0px) rotate(0.5deg);
    }
    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.shake-little:hover,
.shake-trigger:hover .shake-little,
.shake-little.shake-freeze,
.shake-little.shake-constant {
    animation-name: shake-little;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.shake-rotate {
    display: inherit;
    transform-origin: center center;
}
.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused;
}
.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-rotate:hover,
.shake-trigger:hover .shake-rotate {
    animation-play-state: running;
}
@keyframes shake-rotate {
    2% {
        transform: translate(0, 0) rotate(-6.5deg);
    }
    4% {
        transform: translate(0, 0) rotate(-4.5deg);
    }
    6% {
        transform: translate(0, 0) rotate(-2.5deg);
    }
    8% {
        transform: translate(0, 0) rotate(0.5deg);
    }
    10% {
        transform: translate(0, 0) rotate(2.5deg);
    }
    12% {
        transform: translate(0, 0) rotate(4.5deg);
    }
    14% {
        transform: translate(0, 0) rotate(5.5deg);
    }
    16% {
        transform: translate(0, 0) rotate(1.5deg);
    }
    18% {
        transform: translate(0, 0) rotate(3.5deg);
    }
    20% {
        transform: translate(0, 0) rotate(-1.5deg);
    }
    22% {
        transform: translate(0, 0) rotate(-4.5deg);
    }
    24% {
        transform: translate(0, 0) rotate(4.5deg);
    }
    26% {
        transform: translate(0, 0) rotate(6.5deg);
    }
    28% {
        transform: translate(0, 0) rotate(4.5deg);
    }
    30% {
        transform: translate(0, 0) rotate(3.5deg);
    }
    32% {
        transform: translate(0, 0) rotate(6.5deg);
    }
    34% {
        transform: translate(0, 0) rotate(5.5deg);
    }
    36% {
        transform: translate(0, 0) rotate(3.5deg);
    }
    38% {
        transform: translate(0, 0) rotate(-4.5deg);
    }
    40% {
        transform: translate(0, 0) rotate(-6.5deg);
    }
    42% {
        transform: translate(0, 0) rotate(-5.5deg);
    }
    44% {
        transform: translate(0, 0) rotate(0.5deg);
    }
    46% {
        transform: translate(0, 0) rotate(5.5deg);
    }
    48% {
        transform: translate(0, 0) rotate(4.5deg);
    }
    50% {
        transform: translate(0, 0) rotate(-3.5deg);
    }
    52% {
        transform: translate(0, 0) rotate(-3.5deg);
    }
    54% {
        transform: translate(0, 0) rotate(-0.5deg);
    }
    56% {
        transform: translate(0, 0) rotate(5.5deg);
    }
    58% {
        transform: translate(0, 0) rotate(2.5deg);
    }
    60% {
        transform: translate(0, 0) rotate(2.5deg);
    }
    62% {
        transform: translate(0, 0) rotate(-2.5deg);
    }
    64% {
        transform: translate(0, 0) rotate(1.5deg);
    }
    66% {
        transform: translate(0, 0) rotate(6.5deg);
    }
    68% {
        transform: translate(0, 0) rotate(6.5deg);
    }
    70% {
        transform: translate(0, 0) rotate(6.5deg);
    }
    72% {
        transform: translate(0, 0) rotate(3.5deg);
    }
    74% {
        transform: translate(0, 0) rotate(-5.5deg);
    }
    76% {
        transform: translate(0, 0) rotate(-5.5deg);
    }
    78% {
        transform: translate(0, 0) rotate(2.5deg);
    }
    80% {
        transform: translate(0, 0) rotate(-1.5deg);
    }
    82% {
        transform: translate(0, 0) rotate(0.5deg);
    }
    84% {
        transform: translate(0, 0) rotate(2.5deg);
    }
    86% {
        transform: translate(0, 0) rotate(-3.5deg);
    }
    88% {
        transform: translate(0, 0) rotate(7.5deg);
    }
    90% {
        transform: translate(0, 0) rotate(-5.5deg);
    }
    92% {
        transform: translate(0, 0) rotate(7.5deg);
    }
    94% {
        transform: translate(0, 0) rotate(-4.5deg);
    }
    96% {
        transform: translate(0, 0) rotate(7.5deg);
    }
    98% {
        transform: translate(0, 0) rotate(6.5deg);
    }
    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }
}
.shake-rotate:hover,
.shake-trigger:hover .shake-rotate,
.shake-rotate.shake-freeze,
.shake-rotate.shake-constant {
    animation-name: shake-rotate;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.flicker {
    animation: text-flicker 3s linear infinite;
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }

    2% {
        opacity: 1;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }
    8% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }
    9% {
        opacity: 1;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }
    12% {
        opacity: 0.1;
        text-shadow: 0px 0px var(--alt-highlight-color);
    }
    20% {
        opacity: 1;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }
    25% {
        opacity: 0.3;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }
    30% {
        opacity: 1;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }

    70% {
        opacity: 0.7;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }

    72% {
        opacity: 0.2;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }

    77% {
        opacity: 0.9;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }
    100% {
        opacity: 0.9;
        text-shadow: 0px 0px 29px var(--alt-highlight-color);
    }
}
